.Rproj.user/
.Rhistory
.RData
.Ruserdata

*.csv
*.rds

Meropenem/src/*.csv
Meropenem/Runs/
.Rproj.user/

model_*.pmx*

*.json
.DS_Store
Thumbs.db*.exe
*.exe
*.tif
*.tiff
*.svg
*.doc
*.docx
*.xls
*.xlsx
